/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';
@import './styles/fonts.css';
@import './styles/colors.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);

    margin: 0 1.2rem;

    font-size: 1.6rem;
    font-family: var(--font-style-default);
}

.container {
    margin: 0 auto;
    max-width: 140rem;
    width: 100%;
}