@if(IsUserLoggedIn) {
    <!-- User badge -->
    <button class="user-badge" [cdkMenuTriggerFor]="userMenu"
        [cdkMenuPosition]="[
            { originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top' }
        ]"
    >
        <div class="container-user-pic">
            <div class="user-profile-pic-initial">
                {{LoggedInUser.name[0].toUpperCase()}}
            </div>
        </div>
    </button>

    <!-- User menu -->
    <ng-template #userMenu>
        <div class="section-user-menu" cdkMenu>
            <ul class="container-user-menu">
                <li class="user-greating user-menu-item user-menu-item-deactive">Hello, 
                    <span class="user-name">{{LoggedInUser.name}}</span>
                </li>
                <li>
                    <button class="user-menu-item" cdkMenuItem>Logout</button>
                </li>
            </ul>
        </div>
            
    </ng-template>
} 
@else {
    <button>Login</button>
    <button>Register</button>
}