app-header {
    margin-top: 2rem;
    margin-bottom: 3.8rem;
}

.container-main {
    display: flex;
    gap: 3.2rem;
    justify-content: space-between;

}

app-project-list {
    width: 20%;
}

app-project-detail {
    flex-grow: 1;
    /* background-color: blue; */
}