:host {
    display: block;
}

.container-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-website-logo>img {
    display: block;
    height: 4rem;
}

.nav-menu {
    list-style: none;
}